$primary-color: #3BAFBF;
$white-text: #FFFFFF;
$primary-text: #91959B;
$background_color2: #E5E5E5;
$color_facebook: #425893;
$color_twitter: #6BAAE8;
$color_instagram: #4B7197;
$color_youtube: #c33838;

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.btn_primary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: $white-text;
    background-color: $primary-color;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: $white-text;
        color: $primary-color;
    }
}

.btn_secondary {
    width: fit-content;
    font-size: .8rem;
    color: $white-text;
    border: 2px solid white;
    margin-inline: auto;
}

.btn_tra {
    padding: .5rem 2.5rem;
    width: fit-content;
    border: 1px solid black;
}

.container_big {
    width: 1200px;
    margin-inline: auto;
    text-align: center;
    padding: 7rem 0;
}

.container_description_section {
    width: 700px;
    margin-inline: auto;
    text-align: center;
}

.line_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.long_line {
    width: 200px;
    display: block;
}

.input_form {
    background: transparent;
    width: calc((100% / 2) - 1rem);
    border: 1px solid white;
    padding: .5rem;
    margin: 1rem 0;
}

.icon_social {
    font-size: 1.8rem;
    padding-right: .5rem;
}

.facebook {
    color: $color_facebook;
}

.twitter {
    color: $color_twitter;
}

.instagram {
    color: $color_instagram;
}

.youtube {
    color: $color_youtube;
}

.rounded_icon {
    width: 20px;
    height: 20px;
    padding: 2px;
    background-color: $primary-color;
    border-radius: 50%;
    color: white;
}