$primary-color: #3BAFBF;
$white-text: #FFFFFF;
$primary-text: #91959B;
$background_color2: #E5E5E5;
$color_facebook: #425893;
$color_twitter: #6BAAE8;
$color_instagram: #4B7197;


.btn_primary {
    width: fit-content;
    color: $white-text;
    background-color: $primary-color;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: $white-text;
        color: $primary-color;
    }
}

.container_big {
    width: 1200px;
    margin-inline: auto;
    text-align: center;
    padding: 7rem 0;
}

.container_description_section {
    width: 700px;
    margin-inline: auto;
    text-align: center;
}

.line_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.long_line {
    width: 200px;
    display: block;
}